.App {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #000;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  padding: 0px;
  /*margin: 0px; */
}

button:hover {
  background: rgb(250, 247, 103);
}

button.black {
  background: rgb(0, 0, 0);
}

button.lit {
  background: rgb(250, 247, 103);
}

button.light {
  background: rgb(250, 186, 103);
  background-image: url("./img/lightbulb50.png");

}

button.number {
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 0px;

}

.space-container {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 0px;
}